*,
html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    // padding: 9em;
    // margin: 0 -1em;
    //To compensate for horizontal overflow. Inserted -1em margin left and right.
    margin: 0;
    padding: 0;
}

.container:nth-child(odd) {
    background: black;
}

.container:nth-child(even) {
    background: white;
    color: black;
}

#charactersAll {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 1;
}

#charactersSelective {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    z-index: 2;
}

#beforeAfterCharts {
    display: flexbox;
}

img.before {
    position: absolute;
    width: 75%;
    height: auto;
    top: 0;
    left: 0;
    display: block;
}

img.after {
    position: absolute;
    width: 75%;
    height: auto;
    top: 0;
    left: 0;
    display: none;
}